<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{url_for('static',filename='img/galaxy.png')}}">
    <link rel="stylesheet" href="../static/css/layout.css">
    <link rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                    crossorigin="anonymous">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="fog"><div></div></div>
    <div class="bd">
        <div class="top">{% block top %}{% endblock %}</div>
        <div class="down">{% block down %}{% endblock %}</div>
        <div class="right">{% block right %}{% endblock %}</div>
        <div class="left">{% block left %}{% endblock %}</div>
        <div class="main">{% block main %}{% endblock %}</div>
    </div>
</body>
</html>